name: Rust CI

on:
    push:
        branches: ['main']
    pull_request:

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        name: Build & test
        runs-on:
          group: arc-public-large-amd64-runner
        steps:
            - uses: actions/checkout@v3
            - uses: dtolnay/rust-toolchain@stable
            - name: Install cargo-audit
              run: cargo install cargo-audit
            - name: Check Format
              run: cargo fmt -- --check
            - name: Build
              run: cargo build --verbose
            - name: Clippy
              run: cargo clippy --verbose -- -D warnings
            - name: Audit
              run: cargo audit
